[submodule "r6lint"]
	path = layers/noah-scheme/local/r6lint
	url = https://github.com/weinholt/r6lint
[submodule "eaf"]
	path = layers/noah-better-defaults/local/eaf
	url = https://github.com/manateelazycat/emacs-application-framework
## [submodule "vline-mode"]
## 	path = layers/noah-better-defaults/local/vline-mode
## 	url = https://github.com/EricCrosson/vline-mode
## [submodule "sublimity"]
## 	path = layers/noah-better-defaults/local/sublimity
## 	url = https://github.com/zk-phi/sublimity
