[submodule "nyan-mode"]
	path = packages/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode
[submodule "vline-mode"]
	path = layers/noah-better-defaults/local/vline-mode
	url = https://github.com/EricCrosson/vline-mode
[submodule "eaf"]
	path = layers/noah-better-defaults/local/eaf
	url = https://github.com/manateelazycat/emacs-application-framework
[submodule "sublimity"]
	path = layers/noah-better-defaults/local/sublimity
	url = https://github.com/zk-phi/sublimity
