# -*- mode: snippet -*-
# name: import ScriptEngineAndManager
# key: imscriptEMMEx.
# --
import javax.script.ScriptEngine;
import javax.script.ScriptEngineManager;
import javax.script.ScriptException;