# -*- mode: snippet -*-
# name: main module
# key: main.
# --
${1:(: main [-> String * (Values Any)])
}(define main
  (λ argv
    (call/cc
     (λ ([${2:return} : [-> Any Nothing]])
       (when (null? argv)
         (set! argv (vector->list (current-command-line-arguments))))


       $0


       ($2 ${3:0})))))
(module+ main (call-with-values (λ () (main)) exit))